<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Conway's Game of Life</title>
	<meta name="author" content="Ryan B. Harvey">
	<!-- Date: 2012-11-10 -->
</head>
<body>
	<form>
		<label for="game_name" />
		<input id="game_name" type="text" />
	</form>
	<canvas id="gameboard" width="400" height="400">
		Your browser doesn't seem to support the &lt;canvas&gt; tag.
		Please use a newer browser to view this site.
	</canvas>
</body>
</html>
